.container {
    border: 1px solid rgb(78, 156, 137);
    margin: 20px;
    .projectIntroBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
        .projectIntroTitle {
            margin: 10px;
        }
        .projectIntroDeploy {
            margin: 10px;
        }
        .projectIntroExpTitle {
            margin: 10px;
        }
        .projectIntroExp {
            margin: 10px;
        }
    }
    .projectExplainBox {
        // border: 1px solid rgb(78, 156, 137);
      .projectIntroOneBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
          
         .projectIntroOneTitle {
          margin: 10px;
        
        }
        .projectIntroOne {
          margin: 10px;
        }
      }  
        
      .projectIntroTwoBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
        .projectIntroTwoTitle {
          margin: 10px;
        }
        .projectIntroTwoTitleAxios {
          margin: 10px;
        }
        .projectIntroTwoAxios {
          margin: 10px;
        }
        .projectIntroTwoTitleUseState {
          margin: 10px;
        }
        .projectIntroTwoUseState {
          margin: 10px;

        }
        .projectIntroTwoTitleUseEffect {
          margin: 10px;

        }
        .projectIntroTwoUseEffect {
          margin: 10px;

        }
      } 
      .projectIntroThrBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
        .projectIntroThrTitle {
          margin: 10px;
        }
        .projectIntroThrTitleModalUi {
          margin: 10px;

        }
        .projectIntroThrModalUi {
          margin: 10px;
        }
      }  
      .projectIntroFourBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
        .projectIntroFourTitle {
          margin: 10px;
        }
        .projectIntroFourHookApi {
          margin: 10px;
        }
        
      }  
      .projectIntroFiveBox {
        border: 1px solid rgb(78, 156, 137);
        margin: 10px;
        .projectIntroFiveTitle {
          margin: 10px;
        }
        .projectIntroFiveInfoUis {
          margin: 10px;
        }
      }        
    }
}