.container {
    border: 2px solid rgb(78, 156, 137);
    margin: 20px;
    .projectIntroBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
        .projectIntroTitle {
            margin: 10px;
            font-size: 30px;
        }        
        .projectIntroExpTitle {
            margin: 10px;
            font-size: 25px;
        }
        .projectIntroExp {
            margin: 10px;
        }
    }
    .projectExplainBox {
        // border: 1px solid rgb(78, 156, 137);
        
      .projectIntroOneBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
          
         .projectIntroOneTitle {
          margin: 10px;
          font-size: 25px;
        
        }
        .projectIntroOne {
          margin: 10px;
        }
      }  
        
      .projectIntroTwoBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
        .projectIntroTwoTitle {
          margin: 10px;
          font-size: 25px;
        }
        .projectIntroTwoTitleAxios {
          margin: 10px;
          font-size: 21px;
        }
        .projectIntroTwoAxios {
          margin: 10px;
        }
        .projectIntroTwoTitleUseState {
          margin: 10px;
          font-size: 21px;
        }
        .projectIntroTwoUseState {
          margin: 10px;

        }
        .projectIntroTwoTitleUseEffect {
          margin: 10px;
          font-size: 21px;
        }
        .projectIntroTwoUseEffect {
          margin: 10px;

        }
      } 
      .projectIntroThrBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
        .projectIntroThrTitle {
          margin: 10px;
          font-size: 25px;
        }
        .projectIntroThrTitleModalUi {
          margin: 10px;
          font-size: 21px;

        }
        .projectIntroThrModalUi {
          margin: 10px;
        }
      }  
      .projectIntroFourBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
        .projectIntroFourTitle {
          margin: 10px;
          font-size: 25px;
        }
        .projectIntroFourHookApi {
          margin: 10px;
        }
        
      }  
      .projectIntroFiveBox {
        border: 2px solid rgb(78, 156, 137);
        margin: 10px;
        background-color: rgb(152, 193, 129);
        .projectIntroFiveTitle {
          margin: 10px;
          font-size: 25px;
        }
        .projectIntroFiveInfoUis {
          margin: 10px;
        }
      }        
    }
}