.container {
    border: 2px solid #f48fb1;
    margin: 20px;
    .projectIntroBox {
        border: 2px solid #f48fb1;
        margin: 10px;
        background-color: #fce4ec;
        .projectIntroTitle {
            font-size: 30px;
            margin: 10px;
        }        
        .projectIntroExpTitle {
            margin: 10px;
            font-size: 25px;
        }
        .projectIntroExp {
            margin: 10px;
        }
    }
    .ssrIntroBox {
        border: 2px solid #f48fb1;
        margin: 10px;
        background-color: #fce4ec;
        .ssrIntroTitle {
            margin: 10px;
            font-size: 25px;
        }
        .ssrIntro {
            margin: 10px;
        }
    }
    .useRouterBox {
        border: 2px solid #f48fb1;
        margin: 10px;
        background-color: #fce4ec;
        .useRouterIntroTitle {
            margin: 10px;
            font-size: 25px;
        }
        .useRouterIntro {
            margin: 10px;
        }
    }
    .nextHeadBox {
        border: 2px solid #f48fb1;
        margin: 10px;
        background-color: #fce4ec;
        .nextHeadIntroTitle {
            margin: 10px;
            font-size: 25px;
        }
        .nextHeadIntro {
            margin: 10px;
        }
    }
    .nextImageBox {
        background-color: #fce4ec;
        border: 2px solid #f48fb1;
        margin: 10px;
        .nextImageIntroTitle {
            margin: 10px;
            font-size: 25px;
        }
        .nextImageIntro {
            margin: 10px;
        }
    }
    .errorPageBox {
        border: 2px solid #f48fb1;
        margin: 10px;
        background-color: #fce4ec;
        .errorPageIntroTitle {
            margin: 10px;
            font-size: 25px;
        }
        .errorPageIntro {
            margin: 10px;
        }
    }
}