@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kalam&family=Sriracha&display=swap');

// font-family: 'DM Serif Display', serif;
// font-family: 'Kalam', cursive;
// font-family: 'Sriracha', cursive;

.aboutBox {    
    .aboutTitle {
        font-family: 'Sriracha', cursive;
        background-color: #e9e6e4;
        // border: 1px solid black;
        text-align: center;
        font-size: 45px;
        margin: 20px;    
    }
    .aboutBoxList{
        font-family: 'Sriracha', cursive;
        background-color: #e9e6e4;
        margin: 20px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;  
        .contactBox {
            .contact {
              font-size: 35px;
              margin: 10px;
  
            }
            .number {
              font-size: 20px;
              margin: 10px;
            }
            .email {
              font-size: 20px;
              margin: 10px;
            }
            .code {
              position: relative;
              top: 10px;
              font-size: 15px;
              margin: 10px;
            }
            .uni {
              position: relative;
              top: 10px;
              font-size: 15px;
              margin: 10px;
            }
          }
        .archiveBox {
            .archive {
                font-size: 35px;
                margin: 10px;
            }
            .github {
              font-size: 20px;
              margin: 10px;
            }
            .blog {
              font-size: 20px;
              margin: 10px;
            }
        }
     }
 } 