@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
//font-family: 'Archivo Narrow', sans-serif;
.container {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #f48fb1;    
	.background {    
    position: relative; 
    height: 750px;
    .navBar {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .navBarLogo {
            position: relative;
            z-index: 1;
            font-size: 25px;            
        }
        .navBarMenu {
            display: flex;
            position: relative;
            left: -10px; 
        .navBarList {
            z-index: 1;
            padding: 8px 12px;
            margin: 0 20px;
            font-size: 20px;
            }
        }       
    }
    .navBarProfileBox { 
        background-color: #ffffff;
        box-shadow: 10px 15px 25px 0 rgba(0,0,0,.5);
        border-radius: 5px;
        display: grid;
        grid-template-columns: auto;
        width: 700px;
        max-width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        top: 100px;
        left: 50px;
        z-index: 1;                 
        display: grid;
        padding: 20px;
        &:hover {
            background-color: #01579b;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            color: white;
                }
        
    .navBarProfileName {   
        font-size: 40px;
        margin: 10px;
            }
    .navBarProfileIntroOne {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }
      .navBarProfileIntroTwo {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }      
    }	
 }

 .sliderBox {     
    background-color: #ffffff;
    position: absolute; 
    right: 0px; 
    top: 50px;
    width: 500px;
	  margin: 80px;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.5);
    border-radius: 5px;
    .imgOneBox {       
        .imgOne {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgOneIntroBox {
          .imgOneIntroTitle {
            text-align: center;
            margin: 5px;
            font-size: 25px;

          }
          .imgOneIntro {
            margin: 10px;
            font-size: 18px;
          }
        }
    }
    .imgTwoBox {
        .imgTwo {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgTwoIntroBox {
          .imgTwoIntroTitle {
            text-align: center;
            margin: 5px;
            font-size: 25px;
          }
          .imgTwoIntro {
            margin: 10px;
            font-size: 18px;
          }
        }
     } 
     .imgThrBox {
        .imgThr {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgThrIntroBox {
            .imgThrIntroTitle {
              text-align: center;
              margin: 5px;
              font-size: 25px;
            }
            .imgThrIntro {
              margin: 10px;
              font-size: 18px;
            }
        }
    } 
  }
}
//----------------------------------------------------------------------------------------------
@media (max-width: 820px) { 
  .container {
  background-color: #f48fb1;    
	// display: grid;
	.background {    
    // filter: grayscale(100%) contrast(80%);
    position: relative; 
    height: 750px;
    .navBar {
        font-family: 'DM Serif Display', serif;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .navBarLogo {
            position: relative;
            z-index: 1;
            font-size: 25px;            
        }
        .navBarMenu {
            display: flex;
            position: relative;
            left: -10px; 
        .navBarList {
            z-index: 1;
            padding: 8px 12px;
            margin: 0 20px;
            font-size: 20px;
            }
        }       
    }
    .navBarProfileBox { 
        opacity: 0.8;
        box-shadow: 10px 15px 25px 0 rgba(0,0,0,.5);
        border-radius: 5px;
        display: grid;
        grid-template-columns: auto;
        width: 700px;
        max-width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        top: 80px;
        left: 50px;
        z-index: 1;                 
        display: grid;
        padding: 20px;
        &:hover {
            background-color: #01579b;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            color: white;
                }
        
    .navBarProfileName {   
        font-size: 40px;
        margin: 10px;
            }
    .navBarProfileIntroOne {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }
      .navBarProfileIntroTwo {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }      
    }	
 }

 .sliderBox {     
    position: absolute; 
    right: 0px; 
    left: 80px;
    top: 50px;
    width: 500px;
	  margin: 80px;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.5);
    border-radius: 5px;
	  // border: 2px solid black;
    .imgOneBox {       
        .imgOne {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgOneIntroBox {
          .imgOneIntroTitle {
            text-align: center;
            margin: 5px;
            font-size: 25px;

          }
          .imgOneIntro {
            margin: 10px;
            font-size: 18px;
          }
        }
    }
    .imgTwoBox {
        .imgTwo {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgTwoIntroBox {
          .imgTwoIntroTitle {
            text-align: center;
            margin: 5px;
            font-size: 25px;
          }
          .imgTwoIntro {
            margin: 10px;
            font-size: 18px;
          }
        }
     } 
     .imgThrBox {
        .imgThr {
            position: relative;
            width: 500px;
            height: 400px;
        }
        .imgThrIntroBox {
            .imgThrIntroTitle {
              text-align: center;
              margin: 5px;
              font-size: 25px;
            }
            .imgThrIntro {
              margin: 10px;
              font-size: 18px;
            }
        }
    } 
  }
}
}

//---------------------------------------------------------------------------------

@media (max-width: 790px) {
  .container {
    // background-color: #e9e6e4;
	// display: grid;
	.background {    
    // filter: grayscale(100%) contrast(80%);
    position: relative; 
    height: 750px;
    .navBar {
        font-family: 'DM Serif Display', serif;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .navBarLogo {
            position: relative;
            z-index: 1;
            font-size: 20px;            
        }
        .navBarMenu {
            display: flex;
            position: relative;
            left: -10px; 
        .navBarList {
            z-index: 1;
            // padding: 8px 12px;
            margin: 0 20px;
            font-size: 15px;          
          }
        }       
    }
    .navBarProfileBox { 
        margin: 0 auto;
        box-shadow: none;
        border-radius: 5px;
        display: grid;
        grid-template-columns: auto;
        // width: 700px;
        max-width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        top: 100px;
        left: -0.5px;
        z-index: 1;                 
        display: grid;
        padding: 20px;
        &:hover {
            background-color: #01579b;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            color: white;
                }
        
    .navBarProfileName {   
        font-size: 40px;
        margin: 10px;
            }
    .navBarProfileIntroOne {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }
      .navBarProfileIntroTwo {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }      
    }	
 }

 .sliderBox {     
  display: none;  
}
}
}
//--------------------------------------------------------------------------
@media (max-width: 390px) {
  .container {
  // background-color: #e9e6e4;
	// display: grid;
	.background {    
    // filter: grayscale(100%) contrast(80%);
    position: relative; 
    height: 750px;
    .navBar {
        font-family: 'DM Serif Display', serif;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .navBarLogo {
            position: relative;
            z-index: 1;
            font-size: 20px;            
        }
        .navBarMenu {
            display: none;
        .navBarList {
            z-index: 1;
            // padding: 8px 12px;
            margin: 0 20px;
            font-size: 15px;
            }
        }       
    }
    .navBarProfileBox { 
        margin: 0 auto;
        box-shadow: none;
        border-radius: 5px;
        display: grid;
        grid-template-columns: auto;
        // width: 700px;
        max-width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        top: 100px;
        left: -0.5px;
        z-index: 1;                 
        display: grid;
        padding: 20px;
        &:hover {
            background-color: #01579b;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            color: white;
                }
        
    .navBarProfileName {   
        font-size: 40px;
        margin: 10px;
            }
    .navBarProfileIntroOne {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }
      .navBarProfileIntroTwo {
        font-size: 25px;
        margin: 10px;
        &:hover {
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #000000;
                }
      }      
    }	
 }

 .sliderBox {     
  display: none;  
}
}
}
