@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
//font-family: 'Archivo Narrow', sans-serif;

.projectMainTitle {
  font-family: 'Archivo Narrow', sans-serif;
  position: relative;
  text-align: center;
  font-size: 45px;
  margin: 20px;
}
.container {   
    border: 5px solid gray;
    border-radius: 40px;
    margin: 20px;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    .camera {
        border: 1px solid black;
        background-color: gray;
        border-radius: 15px;
        width: 25px;
        height: 25px;
        margin: 10px auto;    
        position: relative;
        top: 10px;    
    }
    .laptop {      
        background-color: white;
        border: 1px solid black;        
        margin: 20px;

        .projectTitleBox { 
            font-weight: bold;
            justify-content: center;
            text-align: center;            
            margin: 10px;
            border: 1.5px solid black;

             .projectTitle {
                font-size: 40px;
                background-color: #bf5f82;
                color: black;
              }
              .projectSubTitle {
                font-size: 20px;
              }
              .projectDetail {
                font-size: 20px;
                padding: 20px;
                &:hover {
                  background-color: #f8bbd0;
                  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                  border : 2px solid #fce4ec;
                }
              }
          }

        .projectBox {            
          display: grid; 
          margin: 10px;
          grid-template-columns: auto auto;
          .projectImg {
            position: relative;
            cursor: pointer;
            width: 500px;
            border: 1.5px solid black;
            border-right: none;
            }           
            
          .projectIntroBox {            
            max-width: 100%;
            border: 1.5px solid black;
            .projectIntro {
              margin: 20px;
              font-size: 19px;
            }
            .projectIntroTextBox {
              font-weight: bold;
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              .projectIntroMajor {
                margin: 5px;
                font-size: 19px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        }
    }                    
}
//--------------------------------------------------------------------------
@media (max-width: 1020px) { 
  .container {
    .laptop {
      
      .camera {

      }     
      .projectTitleBox {

      } 
      .projectBox {  
          display: grid; 
          margin: 10px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {            
            position: relative;
            cursor: pointer;
            max-width: 100%;
            max-height: 100%;
            height: 400px;
            border: none;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            .projectIntro {
               font-size: 18px;
               margin: 20px;
            }
            .projectIntroTextBox {
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              justify-items: center;
              .projectIntroMajor {
                margin: 5px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
  
}

//--------------------------------------------------------------------
@media (max-width: 768px) { 
  .container {
    .laptop {
      
      .camera {
        
      }     
      .projectTitleBox {

      } 
      .projectBox {  
          display: grid; 
          margin: 10px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {   
            width: 420px;         
            height: 300px;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            .projectIntro {
              font-size: 18px;
              margin: 20px;
            }
            .projectIntroTextBox {
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              .projectIntroMajor {
                margin: 5px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
  
}

@media (max-width: 565px) {
  .container {
    .laptop {
      
      .camera {
      }     
      .projectTitleBox { 
            font-weight: bold;
            justify-content: center;
            text-align: center;            
            margin: 10px;
            border: 1.5px solid black;

             .projectTitle {
                font-size: 40px;
                background-color: #bf5f82;
                color: black;
              }
              .projectSubTitle {
                font-size: 20px;
              }
              .projectDetail {
                font-size: 20px;
                padding: 20px;
                &:hover {
                  background-color: #f8bbd0;
                  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                  border : 2px solid #fce4ec;
                }
              }
          }

      .projectBox {  
          display: grid; 
          margin: 10px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {   
            width: 380px;         
            height: 300px;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            .projectIntro {
               font-size: 18px;
               margin: 20px;
            }
            .projectIntroTextBox {
              margin: 20px;
              display: grid;
              grid-template-columns: auto;
              .projectIntroMajor {
                margin: 5px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
}

//-------------------------------------------------------------------------------


@media (max-width: 390px) {
  .container {
    border: 5px solid gray;
    border-radius: 40px;
    margin: 1px;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    .laptop {
      margin: 20px;
      .camera {
      }     
      .projectTitleBox { 
            margin: 1px;
             .projectTitle {
                font-size: 20px;
                background-color: #bf5f82;
                color: black;
              }
              .projectSubTitle {
                font-size: 20px;
              }
              .projectDetail {
                font-size: 20px;
                padding: 1px;
                &:hover {
                  background-color: #f8bbd0;
                  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                  border : 2px solid #fce4ec;
                }
              }
          }
      .projectBox {  
          display: grid; 
          margin: 1px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {   
            width: 280px;         
            height: 200px;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            .projectIntro {
               font-size: 18px;
               margin: 10px;
            }
            .projectIntroTextBox {
              margin:  1px;
              display:grid;
              .projectIntroMajor {
                margin: 5px;
                font-size: 15px;
              }
              .projectIntroGitHub {
                margin: 5px;
                font-size: 15px;
              }
              .projectIntroURL {
                margin: 5px;
                font-size: 15px;
              }
              .projectIntroFront {
                margin: 5px;
                font-size: 15px;
              }
              .projectIntroBack {
                margin: 5px;
                font-size: 15px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
}