@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

// font-family: 'Anton', sans-serif;


.projectMainTitle {
  font-family: 'Anton', sans-serif;
  position: relative;
  text-align: center;
  font-size: 45px;
  margin: 20px;
}
.container {   
    border: 5px solid gray;
    border-radius: 40px;
    margin: 20px;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    .camera {
        border: 1px solid black;
        background-color: gray;
        border-radius: 15px;
        width: 25px;
        height: 25px;
        margin: 10px auto;    
        position: relative;
        top: 10px;    
    }
    .laptop {      
        background-color: white;
        border: 1px solid black;        
        margin: 20px;

        .projectTitleBox { 
            font-weight: bold;
            justify-content: center;
            text-align: center;            
            margin: 10px;
            border: 1.5px solid black;

             .projectTitle {
                font-size: 40px;
                background-color: #bf5f82;
                color: black;
              }
              .projectSubTitle {
                font-size: 20px;
                // border: 1px solid black;
              }
              .projectDetail {
                font-size: 20px;
                // border: 1px solid black;
                padding: 20px;
                &:hover {
                  background-color: #f8bbd0;
                  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                  border : 2px solid #fce4ec;
                }
              }
          }

        .projectBox {  
          font-weight: bold;
          // border: 1px solid black; 
          display: grid; 
          margin: 10px;
          grid-template-columns: auto auto;
          .projectImg {
            position: relative;
            cursor: pointer;
            // margin: 10px;
            max-width: 100%;
            width: 650px;
            border: 1.5px solid black;
            border-right: none;
            }           
            
          .projectIntroBox {            
            max-width: 100%;
            // margin: 10px;
            border: 1.5px solid black;
            .projectIntro {
              font-size: 18px;
              margin: 20px;
            }
            .projectIntroTextBox {
              font-family: 'Anton', sans-serif;
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              .projectIntroMajor {
                margin: 5px;
                font-weight: bold;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        }
    }                    
}
//--------------------------------------------------------------------------
@media (max-width: 820px) { 
  .container {
    .laptop {
      
      .camera {

      }     
      .projectTitleBox {

      } 
      .projectBox {  
          display: grid; 
          margin: 10px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {            
            position: relative;
            cursor: pointer;
            // margin: 10px;
            max-width: 100%;
            max-height: 100%;
            height: 300px;
            border: none;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            // margin: 10px;
            .projectIntro {
               font-size: 18px;
               margin: 20px;
            }
            .projectIntroTextBox {
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              .projectIntroMajor {
                margin: 5px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
  
}

//--------------------------------------------------------------------
@media (max-width: 390px) { 
  .container {
    .laptop {
      
      .camera {

      }     
      .projectTitleBox {

      } 
      .projectBox {  
          display: grid; 
          margin: 10px;
          grid-template-columns: auto;
          justify-items: center;

          .projectImg {            
            width: 200px;
            height: 200px;
            }           
            
          .projectIntroBox {
            border: none;            
            max-width: 100%;
            // margin: 10px;
            .projectIntro {
               font-size: 18px;
               margin: 20px;
            }
            .projectIntroTextBox {
              margin: 20px;
              display: grid;
              grid-template-columns: auto auto;
              .projectIntroMajor {
                margin: 5px;
              }
              .projectIntroGitHub {
                margin: 5px;
              }
              .projectIntroURL {
                margin: 5px;
              }
              .projectIntroFront {
                margin: 5px;
              }
              .projectIntroBack {
                margin: 5px;
              }
              .projectIntroDeploy {
                margin: 5px;
              } 
            }
          }            
        } 
    }
  }
  
}
 