@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
//font-family: 'Archivo Narrow', sans-serif;

.skillsBox {   
  font-family: 'Archivo Narrow', sans-serif; 
  background-color: #fce4ec;
    .skillsTitle {
        position: relative;
        text-align: center;
        font-size: 45px;
        background-color: rgba(225, 225, 225, 0.2);
        border-radius: 15px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
    }
    .skillsBoxList {
      position: relative;
      display: grid;   
      grid-template-columns: auto auto;
      justify-content: space-evenly;  
      margin: 20px;
      .frontBox{
          margin: 10px; 
          background-color: rgba(225, 225, 225, 0.2);
          border-radius: 15px;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);         
          .frontTitle {
            margin: 10px;
            font-size: 35px;
            }
          .frontList {
            font-size: 20px;
          .js {
            margin: 10px;
          } 
          .ts {
            margin: 10px;
          } 
          .redux {
            margin: 10px;
          }
          .scss {
            margin: 10px;
          }
          .webpack {
            margin: 10px;
          }
        }
      }
      .backDeployBox {
          margin: 10px;
          background-color: rgba(225, 225, 225, 0.2);
          border-radius: 15px;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
        .backTitle {
          margin: 10px;
          font-size: 30px;
        }
        .backList {
          margin: 10px;
          font-size: 20px;
        }
        .deployTitle {
          margin: 10px;
          font-size: 30px;
        }
        .deployList {
          margin: 10px;
          font-size: 20px;
        }
        .databaseTitle {
          margin: 10px;
          font-size: 30px;
        }
        .databaseList {
          margin: 10px;
          font-size: 20px;
        }
      }            
    } 
}

@media (max-width: 390px) {
  .skillsBox {    
  background-color: #fce4ec;
    .skillsTitle {
        font-family: 'Anton', sans-serif;
        position: relative;
        text-align: center;
        // border: 1px solid black;
        font-size: 45px;
        // margin: 20px;     
    }
    .skillsBoxList {
      font-family: 'Anton', sans-serif;
      position: relative;
      // border: 1px solid black;
      display: grid;   
      grid-template-columns: auto;
      justify-content: space-evenly;  
      margin: 20px;
      .frontBox{
          margin: 10px;          
          .frontTitle {
            margin: 10px;
            font-size: 35px;
            }
          .frontList {
            font-size: 20px;
          .js {
            margin: 10px;
          } 
          .ts {
            margin: 10px;
          } 
          .redux {
            margin: 10px;
          }
          .scss {
            margin: 10px;
          }
        }
      }
      .backDeployBox {
          margin: 10px;
        .backTitle {
          margin: 10px;
          font-size: 35px;
        }
        .backList {
          margin: 10px;
          font-size: 20px;
        }
        .deployTitle {
          margin: 10px;
          font-size: 35px;
        }
        .deployList {
          margin: 10px;
          font-size: 20px;
        }
      }            
    } 
}
}